/* variables */
:root {
  --primary: #1c2126;
  --secondary: #eeeeee;
  --link: rgba(16, 70, 86, 1);
}

/* reset */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
/* in case i need to move something to the next line when using flexbox */
.break {
  flex-basis: 100%;
  height: 0;
}

/* base styles */
* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0 auto;
  background-color: var(--secondary);
  overflow-x: hidden;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: var(--secondary);
}

.body {
  background-color: var(--secondary);
  width: 100%;
  height: auto;
  padding-top: 50px;
  color: var(--primary);
}
.body p {
  padding: 30px;
  font-size: 1.3em;
}
.body a {
  color: var(--primary);
  text-decoration: none;
}
.body a:hover {
  text-decoration: underline;
}
.social {
  display: flex;
  padding: 30px;
}
.social div {
  padding-right: 30px;
}

.projects {
  padding-left: 30px;
  padding-right: 30px;
}
.project {
  padding-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
.project img {
  margin-top: 10px;
  width: 50%;
  height: auto;
  box-shadow: 0 1px 5px var(--primary);
}
.project p {
  padding: 15px 0 0 0 !important;
  font-size: 1em;
}
.project hr {
  background-color: var(--primary);
  width: 100%;
  height: 1px !important;
  border: 0;
  margin-top: 50px;
}

/* For Tablets */
@media screen and (min-width: 768px) {
}

/* For Desktops */
@media screen and (min-width: 1200px) {
}
