/* variables */
:root {
  --primary: #1c2126;
  --secondary: #eeeeee;
  --link: rgba(16, 70, 86, 1);
}

/* reset */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
}
/* in case i need to move something to the next line when using flexbox */
.break {
  flex-basis: 100%;
  height: 0;
}

/* base styles */
* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0 auto;
  background-color: var(--secondary);
  overflow-x: hidden;
}

.App {
  height: 100vh;
  width: 100vw;
  background-color: var(--secondary);
}

.left-side {
  background-color: var(--primary);
  width: 100%;
  height: 25%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary);
}

.header {
  width: 100%;
}
.header h1 {
  font-family: 'Roboto Mono', monospace;
  font-size: 2.3em;
  margin: 10px 0;
}
.header h2 {
  font-size: 1.1em;
  margin-top: 15px;
}
.navigation {
  margin-top: 40px;
}
.navigation li {
  padding: 0 15px;
}
.navigation a {
  color: var(--secondary);
  text-decoration: none;
}
.navigation a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.right-side {
  background-color: var(--secondary);
  width: 100%;
  height: auto;
  padding-top: 50px;
}
.right-side p {
  padding: 30px;
  font-size: 1.3em;
}
.social {
  display: flex;
  padding: 30px;
}
.social div {
  padding-right: 30px;
}
/* For Tablets */
@media screen and (min-width: 768px) {
}

/* For Desktops */
@media screen and (min-width: 1200px) {
}
